* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffeef;
}



.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-item {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.post-item:last-child {
  border-bottom: none;
}

.post-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.post-item span {
  display: block;
  font-size: 12px;
  color: #888;
}

.post-item .price-text {
  font-size: 23px;
  font-weight: bold;
  margin: 5px 0;
}

.post-item .store-name{
  margin: 5px 0 0 0;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.search-bar-container button {
  height: 35px;
    border-radius: 30px;
    min-width: 100px;
    background: teal;
    color: white;
    margin: 0 5px;
    border: none;
}

.search-bar {
  top: 2%;
  left: 20%;
  width: 100%;
  min-width: 200px;
  height: 30px;
  border-radius: 15px;
  flex-grow: 1;
  margin-right: 10px;
}

.search-bar:last-child {
  margin-right: 0;
}

.title-search {
  display: flex;
  flex-direction: row;
}

.logo-and-switch {
  display: flex; 
  flex-direction: column;
}

.switch-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.language-switch-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 90px;
  height: 25px;
  background-color: gray;
  border-radius: 20px;
  padding: 5px;
}

.language-switch {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 25px;
  background-color: teal;
  border-radius: 20px;
  transition: left 0.3s ease;
}

.language-option {
  width: 50%;
  text-align: center;
  z-index: 1;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.language-option.inactive {
  color: rgba(255, 255, 255, 0.5);
}

.language-option.active {
  color: white;
  font-weight: bold;
}
.app-title {
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #E0E372;
}

.toggle-button{
  display: none;
}

@media (max-width: 768px) {

  body .mapboxgl-map {
    overflow: scroll;
    height: 88%;
    top: 13%;
    right: 0px;
  }
  .sidebar-wrapper {
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    background-color: white;
    z-index: 1;
    transform: translateY(100%);
    transition: transform 0.3s;
  }
  
  .sidebar-wrapper.visible {
    transform: translateY(0);
  }
  
  .toggle-button {
    position: fixed;
    bottom: 0%; /* 閉じている時の位置 */
    z-index: 100;
    width: 30px;
    height: 30px;
    background-color: white; /* 白背景 */
    border: none; /* ボーダーなし */
    border-radius: 15%; /* 丸形 */
    display: flex;
    justify-content: center; /* 中央揃え */
    align-items: center; /* 中央揃え */
    font-size: 20px; /* アイコンサイズ */
    cursor: pointer; /* カーソルスタイル */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* 影を追加 */
    transition: bottom 0.3s, transform 0.3s; /* トランジションを追加 */
  }
  
  .toggle-button.visible {
    bottom: 200px; /* サイドバーが表示されているときの位置 */
  }
  .search-bar-container {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5px;
  }
  .search-bar {
    margin-right: 0px;
    position: static;
    width: 90%;
  }

  .search-bar-container button {
    height: 25px;
}
  .sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    background-color: white;
    z-index: 1;
    /* transform: translateY(100%); */
    transition: transform 0.3s;
  }

  .sidebar.active {
    transform: translateY(0%);
  }

  .post-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .post-item {
    flex: 0 0 auto;
    white-space: nowrap;
    border-bottom: none;
    width: 18rem;
    height: 255px;
    border: 1px solid #e5e5e5;
  }

  .title-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    z-index: 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.9); */
    transition: transform 0.3s;
  }

  .logo-and-switch > .logo {
    width: 100px;
  }

  .logo {
    max-height: 70px;
  }

  .title-search.active {
    transform: translateY(-100%);
  }

  body .mapboxgl-popup {
      z-index: 101;
      width: 100%;
      overflow: scroll;
      bottom: -10px;
      transform: none !important;
      /* height: 40%; */
    }

    body form {
      /* width: 200px; */
      height: 360px;
      display: flex;
      flex-direction: column;
    }

    form label {
      margin: 0;
    }

    form input {
      margin: 0;
    }

    body .card {
      width: 100%;
      justify-content: none;
      height: 100%;
    }

    body .mapboxgl-popup-content {
      padding: 0px 5px 3px;
  }
  
  /* .form-tags-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .form-each-tag {
    border: none;
    border-radius: 30px;
    color: white;
    background-color: teal;
    cursor: pointer;
  }

  .form-tag {
    font-size: 9px;
    padding-left: 5px;
    padding-right: 5px;
  } */

  /* .form-tag-remove-button {
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    cursor: pointer;
    background: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    width: 24px;
  } */
}

/* Add your custom styles below */
  .map {
  /* width: 80%; */
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  }

  .map-container {
  width: 100%;
  height: 100%;
  }

  .mapboxgl-popup {
  top: 0;
  left: 0;
    z-index: 10;
    width: 20%;
    transform: none !important;
    overflow: scroll;
  }

  .mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  }



.card{
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    word-wrap: break-word; /* 文字が折り返されるようにする */
}

.card .desc, .card .tags p {
  white-space: pre-wrap; /* テキストの改行とスペースをそのまま表示 */
  word-wrap: break-word; /* 文字が折り返されるようにする */
  margin: 0; /* pタグのデフォルトマージンをリセット */
  font-size: 11px;
}

.card .post-detail-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.card .post-detail-tag {
  margin: 3px 5px 3px 0;
  background-color: teal;
  color: white;
  border-radius: 30px;
  padding: 5px;
  min-width: 55px;
  text-align: center;
  font-size: 11px;
  list-style: none;
}

label{
    width: max-content;
    color: teal;
    font-size: 14px;
    border-bottom: 0.5px solid teal;
    margin: 3px 0;
}

.desc{
    font-size: 14px;
}

.username{
    font-size: 14px;
}

.date{
    font-size: 12px;
}

form {
    /* width: 200px; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: rgb(88, 87, 87);
  }

  form button {
      border: none;
      padding: 5px;
      border-radius: 5px;
      color: white;
      background-color: teal;
      cursor: pointer;
  }
  
  .form-tags-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .form-each-tag {
    border: none;
    border-radius: 30px;
    color: white;
    background-color: teal;
    cursor: pointer;
  }

  .form-tag {
    font-size: 9px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .form-tag-remove-button {
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    cursor: pointer;
    background: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    width: 24px;
  }

  form .currency-select {
    font-size: 15px;
  }


  input {
    border: none;
    border-bottom: 1px solid gray;
    font-size: 17px;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    color: rgb(185, 184, 184);
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  textarea {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: teal;
    cursor: pointer;
  }

  .button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:focus{
    outline: none;
  }
  .mapboxgl-popup-close-button {
    font-weight: bold;
    font-size: 40px;
  }
  
  .logout{
    background-color: tomato;
  }
  
  .login{
    background-color: teal;
    margin-right: 10px;
  }
  
  .register{
    background-color: slateblue;
  }