@media (min-width: 769px) {
  .sidebar {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 85%;
  width: 20%;
  overflow-y: auto;
}
}

.post-item.highlighted {
  border: red solid 2px;
}

.post-item:hover {
  border: grey solid 2px;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
  .post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .post-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
  }
  
  .post-item:last-child {
    border-bottom: none;
  }
  